@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center  text-light img-fluid" style="background-image: url('https://www.shutterstock.com/shutterstock/photos/1861318969/display_1500/stock-vector-vector-illustration-neon-future-game-pad-background-1861318969.jpg'); ">
    <h1 class="display-2 text-center">Welcome in Game Land</h1>
    <a class="btn" asp-area="" asp-controller="Gry" asp-action="list"><button>Sklep</button></a>
</div>
