@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Kontakt</h1>

<h2>Number:+48 506 646 615</h2>
<h2>mail:mat.bloch@Outlook.com</h2>