@model IEnumerable<TNAI.Model.Entities.Gry>

@{
    ViewData["Title"] = "Gry";
}

<h1>Nasze Gry</h1>

<div class="row">
    <div class="col-sm-12 col-md-4 mb-3">
        <input id="search" type="search" class="form-control"as placeholder="Search by name" />
        <button class="btn-primary" onclick="onSearch()">Search</button>
    </div>
</div>

<div id="content" class="row">
    @{
        await Html.RenderPartialAsync("Search_Gry", Model);
    }
</div>




@section Scripts {
    <script type="text/javascript">
        function onSearch() {
            const text = $("#search").val();
            const url = `/Gry/Search?text=${text}`;

            $.ajax({
                url: url,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $("#content").html(result);
                },
                error: function (req, status) {
                    console.log("error")
                }
            });
        }
    </script>
}
